<header id="top-header">
   <ul>
    <li><a href="">For Individuals</a></li>
    <li><a href="">For Businesses</a></li>
    <li><a href="">For Universities</a></li>
    <li>   <a href="">For Governments</a></li>
   </ul>
  </header>